<ion-view view-title="Some Example">
	<ion-content>
		<ion-list>
			<a href="#/demo/tabs/contacts" class="item item-icon-right">
				联系人
				<i class="icon ion-chevron-right"></i>
			</a>
			<a href="#/demo/tabs/clipboard"  class="item item-icon-right">
				clipboard and inappbrowser
				<i class="icon ion-chevron-right"></i>
			</a>
			<a href="#/demo/tabs/badge" class="item item-icon-right">
				badge
				<i class="icon ion-chevron-right"></i>
			</a>
			<ion-item ng-click="codeScanner()">
				扫描
			</ion-item>
			<a href="#/demo/tabs/imagepicker" class="item item-icon-right">
				多图选择
				<i class="icon ion-chevron-right"></i>
			</a>
			<a href="#/demo/tabs/baidumap" class="item item-icon-right">
				百度地图
				<i class="icon ion-chevron-right"></i>
			</a>
		</ion-list>
	</ion-content>
</ion-view>