<ion-view view-title="设置">
	<ion-content>
		<div class="list">
			<a href="#/demo/tabs/personal" class="item item-icon-right">
				<img src="img/ionic.png" alt="" width="35">
				flora
				<i class="icon ion-chevron-right"></i>
			</a>
		</div>
		<div class="list">
			<a href="#/demo/tabs/selectProfession" class="item item-icon-right">
				职业
				<i class="icon ion-chevron-right"></i>
				<span class="item-note">
			      <span ng-hide="user.profession">请选择</span>{{user.profession}}
			    </span>
			</a>
			<a href="#/demo/tabs/signature" class="item item-icon-right">
				签名
				<i class="icon ion-chevron-right"></i>
				<span class="item-note">
					<span ng-hide="user.signature">设置你的签名</span>{{user.signature}}
				</span>
			</a>
		</div>
		<div class="list">
			<a href="#/demo/tabs/nickname" class="item item-icon-right">
				昵称
				<i class="icon ion-chevron-right"></i>
				<span class="item-note">
					<span ng-hide="user.nickname">设置昵称</span>{{user.nickname}}
				</span>
			</a>
			<div class="item item-icon-right" ng-click="modal.show()">
				性别
				<i class="icon ion-chevron-right"></i>
				<span class="item-note">
					<span ng-hide="gender">保密</span>{{gender}}
				</span>
			</div>
			<a href="#/demo/tabs/region" class="item item-icon-right">
				地区
				<i class="icon ion-chevron-right"></i>
				<span class="item-note">
					<span ng-hide="region">请选择</span>{{region}}
				</span>
			</a>
		</div>
		<div class="list">
			<a href="#/demo/tabs/about" class="item item-icon-right">
				关于DEMO
				<i class="icon ion-chevron-right"></i>
			</a>
		</div>
		<div class="list">
			<a href="#/demo/tabs/more" class="item item-icon-right">
				更多...
				<i class="icon ion-chevron-right"></i>
			</a>
		</div>
	</ion-content>
</ion-view>
<script id="choose-gender.html"  type="text/ng-template">
	<ion-modal-view class="text-center padding">
	<ion-header-bar class="bar bar-header bar-positive" align-title="center">
		<h1 class="title">性别</h1>
	</ion-header-bar>
	<ion-content class="padding">
		<ion-list>
			<ion-item ng-repeat="gender in genderlist" ng-click="chooseGender($index)">{{gender}}</ion-item>
		</ion-list>
	</ion-content>
	</ion-modal-view>
</script>