<ion-view view-title="设置">
	<ion-content>
		<div class="list">
			<a href="#/demo/personal" class="item item-icon-right">
				<img src="../img/ionic.png" alt="" width="35">
				flora
				<i class="icon ion-chevron-right"></i>
			</a>
		</div>
		<div class="list">
			<a href="/#/demo/selectProfession" class="item item-icon-right">
				职业
				<i class="icon ion-chevron-right"></i>
				<span class="item-note">
			      请选择{{myprofession}}
			    </span>
			</a>
			<a href="#" class="item item-icon-right">
				签名
				<i class="icon ion-chevron-right"></i>
				<span class="item-note">设置你的签名</span>
			</a>
		</div>
	</ion-content>
</ion-view>