<ion-tabs class="tabs-positive tabs-icon-top">
	<ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/demo/tabs/home">
		<ion-nav-view name="tabHome"></ion-nav-view>
	</ion-tab>
	<!-- <ion-tab title="Favorites" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="#/demo/tabs/favorite">
		<ion-nav-view name="tabFavorite"></ion-nav-view>
	</ion-tab> -->
	<ion-tab title="Favorites" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="#/demo/contacts">
		<ion-nav-view name="tabFavorite"></ion-nav-view>
	</ion-tab>
	<ion-tab title="Settings"  icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/demo/tabs/setting">
		<ion-nav-view name="tabSet"></ion-nav-view>
	</ion-tab>
</ion-tabs>